/* Intégration des fonts */

@font-face {
  font-family: "RalewayReg";
  src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "RalewayBold";
  src: url("../fonts/Raleway-Bold.ttf");
}

/* Layout Général */

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "RalewayReg";
}

main {
  margin-left: 3.5%;
  margin-right: 3.5%;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2 {
  font-family: "RalewayBold";
  font-size: 1.36rem;
}

figure {
  margin: 0;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding-left: 4px;
  margin-top: 52px;
}

/* Nav */

nav ul {
  padding-left: 0;
  margin-top: 0;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

nav a {
  display: block;
  padding-top: 52px;
  padding-left: 2rem;
  padding-right: 2rem;
}

nav a:hover {
  border-top: 1px solid #0065fc;
  color: #0065fc;
}

nav span {
  font-family: "RalewayBold";
  color: #0065fc;
}

/* Section intro */

section.intro h1 {
  margin-top: 50px;
  margin-bottom: 0;
  padding-left: 4px;
}

section.intro p {
  font-size: 1rem;
  margin-top: 8px;
  margin-bottom: 19px;
  padding-left: 4px;
}

/*Section search */

.search_bar {
  display: flex;
  width: 31.3%;
  min-width: 300px;
}

.location {
  max-width: 50px;
  min-width: 40px;
  background-color: #f2f2f2;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.location a {
  display: block;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.location img {
  width: 16px;
  height: 16px;
}

.entry_field {
  display: block;
  width: 55.7%;
  padding-left: 1rem;
  padding-right: 1rem;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  border-left: none;
  border-right: none;
  justify-content: left;
  font-family: "RalewayBold";
  font-size: 1rem;
}

.entry_field:focus {
  outline-style: none;
}

.search_button {
  width: 32%;
  height: 50px;
  border: none;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #0065fc;
  font-family: "RalewayBold";
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

/* les filtres */
.filters {
  margin-top: 35px;
  margin-bottom: 0;
  padding-left: 12px;
  width: 69%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "RalewayBold";
}

.filters_button {
  display: flex;
  align-items: center;
  border: 2px solid #f2f2f2;
  border-radius: 27px;
  border-left: none;
}

.filters img {
  width: 50px;
  height: 50px;
}

.icon {
  position: absolute;
  background-color: #deebff;
  border-radius: 27px;
  width: 50px;
  height: 50px;
}

.filters a {
  display: block;
  border-radius: 28px;
  white-space: nowrap;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 61px;
  padding-right: 22px;
}

.filters a:hover {
  background-color: #0065fc;
  color: white;
}

/*Section info */

section.info {
  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 37px;
  padding-left: 9px;
}

section.info img {
  display: block;
  width: 24px;
  height: 24px;
}

section.info h4 {
  margin-left: 12px;
}

/* Section Results*/

#results {
  display: flex;
  justify-content: space-between;
}

#results h3 {
  font-family: "RalewayBold";
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
  padding-left: 1rem;
}

#results p {
  font-size: 0.8rem;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}

#results span {
  font-family: "RalewayBold";
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

/* résultats div gauche */

.results_area {
  border-radius: 20px;
  width: 63%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  background-color: #f2f2f2;
}

.results_area h2 {
  font-size: 1.36rem;
  padding-left: 1.5%;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.thumbnails {
  display: grid;
  justify-content: center;
  grid-template-columns: 33% 33% 33%;
}

.thumbnail {
  box-shadow: 0px 5px 10px #ccc8c8;
  border-radius: 16px;
  background-color: white;
  margin: 4.5%;
}

.pictures {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 2%;
  overflow: hidden;
  width: 95%;
  height: 114px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.pictures img {
  display: block;
  width: 100%;
}

.scoring img {
  padding-left: 1rem;
  width: 60px;
  margin-bottom: 0.5rem;
}

.more {
  margin-top: 40px;
  padding-left: 1.5%;
}

.more a {
  font-family: "RalewayBold";
}

/* résultats div droit */

.most_famous {
  border-radius: 20px;
  width: 25.5%;
  padding: 3%;
  background-color: #f2f2f2;
}

.header_pop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "RalewayBold";
  font-size: 1.36rem;
  margin-bottom: 0.5rem;
}

.header_pop img {
  height: 1.36rem;
}

.famous_thumbnail {
  display: flex;
  box-shadow: 0px 5px 10px #ccc8c8;
  border-radius: 18px;
  background-color: white;
  padding: 6px;
  margin-top: 30px;
}

.famous_thumbnail p {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}

.famous_picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37%;
  height: 134px;
  overflow: hidden;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
}

.famous_picture img {
  display: block;
  width: 170%;
}

.description {
  width: 59%;
}

.description p {
  padding-bottom: 2rem;
}

/* Activités à Marseille */

#activities h3 {
  font-family: "RalewayBold";
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

#activities h2 {
  margin-top: 65px;
  margin-bottom: 1rem;
}

.activities_thumbnails {
  display: grid;
  justify-content: center;
  grid-template-columns: 25% 25% 25% 25%;
}

.activities_thumbnail_1 {
  grid-column: 1;
  grid-row: 1/3;
  box-shadow: 0px 5px 10px #ccc8c8;
  border-radius: 12px;
  background-color: white;
  margin-left: 0;
  margin-right: 4.5%;
}

.activities_thumbnail_2 {
  grid-column: 2;
  grid-row: 1;
  box-shadow: 0px 5px 10px #ccc8c8;
  border-radius: 12px;
  background-color: white;
  margin-left: 4.5%;
  margin-right: 4.5%;
}

.activities_thumbnail_3 {
  grid-column: 2;
  grid-row: 2;
  box-shadow: 0px 5px 10px #ccc8c8;
  border-radius: 12px;
  background-color: white;
  margin-top: 43px;
  margin-left: 4.5%;
  margin-right: 4.5%;
}

.activities_thumbnail_4 {
  grid-column: 3;
  grid-row: 1/3;
  box-shadow: 0px 5px 10px #ccc8c8;
  border-radius: 12px;
  background-color: white;
  margin-left: 4.5%;
  margin-right: 4.5%;
}

.activities_thumbnail_5 {
  grid-column: 4;
  grid-row: 1;
  box-shadow: 0px 5px 10px #ccc8c8;
  border-radius: 12px;
  background-color: white;
  margin-left: 4.5%;
  margin-bottom: 45px;
  margin-right: 0;
}

.activities_thumbnail_6 {
  grid-column: 4;
  grid-row: 2;
  box-shadow: 0px 5px 10px #ccc8c8;
  border-radius: 12px;
  background-color: white;
  margin-left: 4.5%;
  margin-right: 0;
}

.activities_picture_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 390px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.activities_picture_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 180px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.activities_picture_3 {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 109px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.activities_picture_4 {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 390px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.activities_picture_5 {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 140px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.activities_picture_6 {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 153px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.activities_thumbnail_1 img {
  display: block;
  margin-top: 50px;
  width: 230%;
}

.activities_thumbnail_2 img {
  display: block;
  margin-top: 50px;
  width: 100%;
}

.activities_thumbnail_3 img {
  display: block;
  margin-top: 50px;
  width: 100%;
}

.activities_thumbnail_4 img {
  display: block;
  margin-top: 50px;
  width: 250%;
}

.activities_thumbnail_5 img {
  display: block;
  margin-top: 50px;
  width: 100%;
}

.activities_thumbnail_6 img {
  display: block;
  margin-top: 50px;
  width: 100%;
}

/* Footer */

footer {
  padding: 3rem;
  margin-top: 62px;
  background-size: 100%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
}

footer span {
  font-family: "RalewayBold";
  margin-top: 0;
  margin-bottom: 1.3rem;
  font-size: 1rem;
}

footer li {
  margin-bottom: 0.5rem;
  list-style: none;
}

footer ul {
  padding-left: 0;
}

.help {
  padding-right: 30%;
}