@font-face {
  font-family: "RalewayReg";
  src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "RalewayBold";
  src: url("../fonts/Raleway-Bold.ttf");
}

.bold {
  font-family: "RalewayBold";
}

h1 {
  font-family: "RalewayBold";
  font-size: 1.3rem;
  font-weight: bold;
}

body {
  margin: 5%;
  font-family: "RalewayReg";
  font-size: 1rem;
}

.logo {
  display: inline-flex;
  justify-content: left;
}

nav a {
  display: inline-flex;
  margin: 1rem;
  vertical-align: top;
  justify-content: space-between;
}
