/* Intégration des fonts */

@font-face {
  font-family: "RalewayReg";
  src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "RalewayBold";
  src: url("../fonts/Raleway-Bold.ttf");
}

/* ----------- Desktop -----------*/
/*---- Desktop Layout Général---- */
html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "RalewayReg";
}

main {
  max-width: 1590px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 50px;
  padding-left: 50px;

}

a {
  text-decoration: none;
  color: black;
}

h1, h2 {
  font-family: "RalewayBold";
  font-size: 1.36rem;
}

figure {
  margin: 0;
}

/*---- Desktop Header ----*/
header {
  display: flex;
}

.logo {
  padding-left: 4px;
  margin-top: 52px;
}

/*---- Desktop Nav ----*/
/* mise en forme de la section */
nav {
  display: flex;
  margin-left: auto;
}

/* liste lien hebergement et activités */
nav ul {
  width: 310px;
  padding-left: 0;
  margin-top: 0;
  display: flex;
  list-style-type: none;
}

nav li {
  width: 155px;
}

nav a {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 52px;
  border: 1px solid #ffffff;
}

nav a:hover {
  border-top: 1px solid #0065fc;
  color: #0065fc;
}

/* "s'inscrire" <nav> */
.sign_up a {
  display: block;
  padding-top: 52px;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 1px solid #ffffff;
  font-family: "RalewayBold";
  color: #0065fc;
}

/*---- Desktop Section intro ----*/

section.intro h1 {
  margin-top: 50px;
  margin-bottom: 0;
  padding-left: 4px;
}

section.intro p {
  font-size: 1rem;
  margin-top: 8px;
  margin-bottom: 19px;
  padding-left: 4px;
}

/*---- Desktop Section search ----*/

.search_bar {
  display: flex;
  margin-right: 20px;
}

.location {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;

  cursor: pointer;
  background-color: #f2f2f2;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.entry_field {
  display: block;
  width: 234px;
  height: 50px;
  padding-left: 1rem;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  border-left: none;
  border-right: none;
  font-family: "RalewayBold";
  font-size: 1rem;
}

.entry_field:focus {
  outline-style: none;
}

#location::placeholder {
  color: black;
}

.search_button_mobile {
  display: none;
}

.search_button {
  display: block;
  width: 134px;
  height: 50px;
  border: none;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #0065fc;
  font-family: "RalewayBold";
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

/*---- Desktop filters ----*/
/* mise en forme de la section */
.filters {
  margin-top: 35px;
  margin-bottom: 0;
  padding-left: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: "RalewayBold";
}

/* titre filtre */
.filters p {
  margin-right: 20px;
}

/* mise en forme des boutons filtres */
.filters_buttons {
  display: flex;
}

/* lien et icone de chaque filtre */
.filters_button {
  display: flex;
  align-items: center;
  position: relative;
  border: 2px solid #f2f2f2;
  border-radius: 27px;
  border-left: none;
  height: 46px;
  margin-right: 20px;
}

/* icones des filtres */
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -1px;
  background-color: #deebff;
  border-radius: 27px;
  width: 50px;
  height: 50px;
}

.filters_button i {
  display: block;
  color: #0065fc;
}

/* liens des filtres */
.filters a {
  display: block;
  border-radius: 27px;
  white-space: nowrap;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 63px;
  padding-right: 22px;
}

.filters a:hover {
  background-color: #0065fc;
  color:#ffffff;
}

/*---- Desktop Section info ----*/
/* mise en forme de la section */
section.info {
  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 37px;
  padding-left: 9px;
}

section.info h4 {
  margin-left: 12px;
}

.icon_info {
  min-width: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid #f2f2f2;
  border-radius: 27px;
  text-align: center;
}

section.info i {
  padding-top: 6px;
  color: #0065fc;
  font-size: 0.8rem;
}

/*----Desktop Section Results ----*/
/* mise en forme de la section */
#results {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-gap: 2rem;
}

/* euros et prix les moins cher vignettes */
#results span {
  font-family: "RalewayBold";
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

/* étoiles dans les vignettes */
.scoring i {
  font-size: 0.8rem;
  color: #0065fc;
}

.scoring {
  padding-left: 1rem;
  margin-bottom: 8px;
}

/*---- Desktop résultats div gauche ----*/
/* mise en forme de la section */
.results_area {
  border-radius: 20px;
  padding: 40px;
  background-color: #f2f2f2;
}

/* nom des hôtels */
.results_area h3 {
  font-family: "RalewayBold";
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
  padding-left: 1rem;
}

/* titres hebergement à marseille */
.results_area h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

/* prix des nuits div de gauche */
.results_area p {
  font-size: 0.8rem;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}

/* vignettes div gauche */
.thumbnails {
  display: grid;
  grid-template-columns: repeat( 3, 1fr);
  gap: 31px;
}

.thumbnail {
  box-shadow: 0px 5px 10px #ccc8c8;
  border-radius: 16px;
  background-color: white;
  padding: 6px;
}

.thumbnail:hover {
  box-shadow: 0px 5px 30px black;
}

/* figures div gauche */
.pictures {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: 120px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
} 
.pictures a {
  display: flex;
}

/* images figures div gauche */
.pictures img {
  width: 100%;
  object-fit: cover;
}

/* "afficher plus" div gauche */
.more {
  margin-top: 40px;
}

.more a {
  font-family: "RalewayBold";
}

/*---- Desktop résultats div droit ----*/
/* mise en forme de la section */
.most_famous {
  border-radius: 20px;
  padding: 40px;
  background-color: #f2f2f2;
}

/* header div droite */
.header_pop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "RalewayBold";
  font-size: 1.36rem;
  margin-bottom: 26px;
}

/* logo div de droite */
.header_pop img {
  height: 1.36rem;
}

/* vignettes les plus populaires*/
.famous_thumbnail {
  display: flex;
  height: 144px;
  box-shadow: 0px 5px 10px #ccc8c8;
  border-radius: 18px;
  background-color: white;
  margin-top: 30px;
}

.famous_thumbnail:hover {
  box-shadow: 0px 5px 30px black;
}

/* figures div de droite */
.famous_picture {
  display: flex;
  overflow: hidden;
  margin: 6px;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
  width: 40%;
}

/* images des vignettes div de droite */
.famous_picture a {
  display: flex;
  justify-content: center;
  height: 100%;
}

.famous_picture img {
  display: block;
  width: 130%;
  object-fit: cover;
}

/* div de droite de la vignette poupulaire */
.description {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* nom de l'hôtel div de droite */
.description h3 {
  font-family: "RalewayBold";
  font-size: 1rem;
  margin-top: 0.7rem;
  margin-bottom: 0;
  padding-left: 1rem;
}

/* prix de la nuit div de droite */
.description p {
  font-size: 0.8rem;
  padding-left: 1rem;
}

/*---- Desktop Activités à Marseille ----*/
/* nom de l'activité */
#activities h3 {
  font-family: "RalewayBold";
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

/* titre activités à marseille */
#activities h2 {
  margin-top: 65px;
  margin-bottom: 1.5rem;
}

/* vignettes section activitées */
.activities_thumbnails {
  display: grid;
  grid-template-columns: repeat(4, 2.5fr);
  column-gap: 43px;
}

.activities_thumbnail_1,
.activities_thumbnail_2,
.activities_thumbnail_3,
.activities_thumbnail_4,
.activities_thumbnail_5,
.activities_thumbnail_6 {
  box-shadow: 0px 5px 10px #ccc8c8;
  border-radius: 12px;
  background-color: white;
  min-width: 263px;
}

.activities_thumbnail_1 {
  grid-column: 1;
  grid-row: 1/3;
}
  
.activities_thumbnail_2 {
  grid-column: 2;
  grid-row: 1;
}
  
.activities_thumbnail_3 {
  grid-column: 2;
  grid-row: 2;
  margin-top: 43px;
}
  
.activities_thumbnail_4 {
  grid-column: 3;
  grid-row: 1/3;
}
  
.activities_thumbnail_5 {
  grid-column: 4;
  grid-row: 1;
  margin-bottom: 43px;
}
  
.activities_thumbnail_6 {
  grid-column: 4;
  grid-row: 2;
} 

.activities_thumbnail_1:hover, 
.activities_thumbnail_2:hover, 
.activities_thumbnail_3:hover,
.activities_thumbnail_4:hover, 
.activities_thumbnail_5:hover, 
.activities_thumbnail_6:hover {
  box-shadow: 0px 5px 30px black;
}

/* figures section activités*/
.activities_thumbnails figure{
  display: flex;
  overflow: hidden;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.activities_picture_1 {
  height: 390px;
}

.activities_picture_2 {
  height: 180px;
}

.activities_picture_3 {
  height: 110px;
}

.activities_picture_4 {
  height: 390px;
}

.activities_picture_5 {
  height: 140px;
}

.activities_picture_6 {
  height: 150px;
}

/* images des figures section activités*/

.activities_picture_1 a,
.activities_picture_2 a,
.activities_picture_3 a,
.activities_picture_4 a,
.activities_picture_5 a,
.activities_picture_6 a {
  display: flex;
  justify-content: center;
  width: 100%;
}

.activities_thumbnail_1 img, .activities_thumbnail_4 img {
  height: 110%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.activities_thumbnail_2 img,
.activities_thumbnail_3 img,
.activities_thumbnail_5 img,
.activities_thumbnail_6 img {
  display: block;
  object-fit: cover;
  height: 140%;
  width: 100%;
}

/*---- Desktop Footer ----*/
/* mise en forme de la section */
footer {
  padding: 0 3rem 3rem 3rem;
  margin-top: 60px;
  background-size: 100%;
  background-color: #f2f2f2;
}

.footer_lists {
  display: flex;
  max-width: 1590px;
  margin-left: auto;
  margin-right: auto;
}

/* titres des listes*/
footer span {
  display:block;
  font-family: "RalewayBold";
  padding-top: 40px;
  margin-bottom: 1.3rem;
  font-size: 1rem;
}

/* mise en forme des listes */
footer ul {
  padding-left: 0;
  margin-bottom: 0;
}

footer li {
  margin-top: 0.5rem;
  list-style: none;
}

/* marge entre les listes*/
.about {
  margin-left: 0;
}

.help, .about, .charter {
  margin-right: auto;
}

/* ----------- Tablettes -----------*/
@media all and (max-width: 1279px) {
  /*---- Tablettes Layout Général---- */
  main {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

  /*---- Tablettes Header ----*/
  .logo {
    padding-left: 0px;
    margin-left: 20px;
  }

  /*---- Tablettes Section intro ----*/

  section.intro h1 {
    margin-left: 20px;
    padding-left: 0;
  }

  section.intro p {
    margin: 12px 20px 30px 20px ;
    padding-left: 0;
  }

  /*---- Tablettes Section search ----*/

  .search_bar {
    margin-left: 20px;
  }

  /*---- Tablettes filters ----*/
  /* mise en forme de la section */
  .filters {
    padding-left: 22px;
  }

  /* titre filtre */
  .filters p {
    margin-top: 0;
  }

  /* mise en forme des boutons filtres */
  .filters_buttons {
    margin-bottom: 0;
    flex-wrap: wrap;
    font-family: "RalewayBold";
  }

  /* lien et icone de chaque filtre */
  .filters_button {
    margin: 0 10px 15px 0;
  }

  /*---- Tablettes Section info ----*/
  /* mise en forme de la section */
  section.info {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-left: 0;
  }

  /*----Tablettes Section Results ----*/
  /* mise en forme de la section */
  #results {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  /*---- Tablettes résultats div dessous ----*/
  /* mise en forme de la section */
  .results_area {
    margin-top: 20px;
    padding: 20px;
  }

  /* figures div de dessous */
  .pictures {
    min-height: 100px;
    max-height: 300px;
    height: 150px;
  }

  .pictures a {
    height: 150px;
  }

  /*---- Tablettes résultats div de dessus ----*/
  /* mise en forme de la section */
  .most_famous {
    padding: 20px 0 20px 0;
  }

  /* header div de dessus */
  .header_pop {
    margin-bottom: 0;
    padding-left: 40px;
    padding-right: 40px;
  }

  /* vignettes les plus populaires*/
  .famous_thumbnails {
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
    padding-right: 0px;
  }

  .famous_thumbnail {
    width: 31%;
    min-width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  /* figures div de dessus */
  .famous_picture {
    width: 35%;
  }

  /* images des vignettes div de dessus */
  .famous_picture img {
    max-height: 150%;
    width: 160%;
  }

  /* div de droite de la vignette poupulaire */
  .description {
    width: 60%;
  }

  /* nom de l'hôtel div de droite */
  .description h3 {
    margin-top: 0.5rem;
    padding-left: 0.7rem;
  }

  /* prix de la nuit div de droite */
  .description p {
    margin-bottom: 0;
    font-size: 0.8rem;
    padding-left: 0.8rem;
  }

  /*---- Tablettes Activités à Marseille ----*/
  /* nom de l'activité */
  #activities {
    margin: 20px 20px 50px 20px;
  }

  /* vignettes section activitées */
  .activities_thumbnails {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 31px;
  }

  .activities_thumbnail_1,
  .activities_thumbnail_2,
  .activities_thumbnail_3,
  .activities_thumbnail_4,
  .activities_thumbnail_5,
  .activities_thumbnail_6 {
    height: 190px;
    min-width: 220px;
  }

  .activities_thumbnail_1 {
    grid-column: 1;
  }

  .activities_thumbnail_3 {
    grid-column: 3;
    grid-row: 1;
    margin-top: 0;
  }
    
  .activities_thumbnail_4 {
    grid-column: 1;
    grid-row: 2;
  }
    
  .activities_thumbnail_5 {
    grid-column: 2;
    grid-row: 2;
    margin-bottom: 0px;
  }
    
  .activities_thumbnail_6 {
    grid-column: 3;
    grid-row: 2;
  } 

  /* figures section activités*/
  .activities_thumbnails figure {
    height: 134px;
  }

  /* images des figures section activités*/
  .activities_thumbnails img {
    height: 140%;
  }

    /*---- footer ----*/
    footer {
      margin-top: 30px;
    }
}

/*----------- Smartphones -----------*/
@media all and (max-width: 768px) {
  /*---- Smartphones Header ----*/
  header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 110px;
    margin-top: 20px;
  }

  .logo {
    display: flex;
    align-items: center;
    margin-top: 0px;
  }

  .logo a {
    display: block;
  }

  /*---- Smartphones Nav ----*/
  /* mise en forme de la section */
  nav {
    grid-column: 1/3;
    grid-row: 2;
    margin-left: 0;
    align-items: flex-end;
  }

  /* liste lien hebergement et activités */
  nav ul {
    width: 100%;
    margin-bottom: 0;
  }

  nav li {
    width: 50%;
  }

  /* lien activité */
  nav a {
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 18px;
    border: none;
    border-bottom: 3px solid #f2f2f2;
  }

  nav a:hover {
    border-top: none;
    border-bottom: 3px solid #0065fc;
  }

   /* "s'inscrire" <nav> */
  .sign_up {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .sign_up a {
    margin-right: 20px;
    padding: 0;
  }

  /*---- Smartphones Section intro ----*/

  section.intro h1 {
    margin: 35px 20px 0 20px;
  }

  /*---- Smartphones Section search ----*/
  /* mise en forme de la section */
  .search_bar {
    padding-left: 0;
    margin-left: 0;
  }

  .location {
    margin-left: 20px;
  }

  .entry_field {
    width: 70%; 
  }

  .search_button {
    display: none;
  }

  .search_button_mobile {
    display: block;
    width: 51px;
    margin-left: -10px;
    border: none;
    border-radius: 14px;
    background-color: #0065fc;
    font-family: "RalewayBold";
    font-size: 1rem;
    color: white;
  }

  /*---- Smartphones Filters ----*/
  /* mise en forme de la section */
  .filters {
    margin-top: 35px;
    margin-left: 20px;
    padding-left: 0;
  }

  /* titre filtre */
  .filters p {
    margin-right: 20px;
  }

  /*---- Smartphones Section info ----*/
  /* mise en forme de la section */
  section.info {
    align-items: baseline;
    margin-top: 0;
  }

  section.info h4 {
    margin-right: 20px;
    margin-left: 10px;
  }

  /*---- Smartphones Section Results ----*/
  /* mise en forme de la section */
  #results {
    grid-gap: 0;
  }

  /*---- Smartphones résultats div dessous ----*/
  /* mise en forme de la section */
  .results_area {
    margin-top: 40px;
    padding: 0px 15px 20px 15px;
    background-color: white;
  }

  /* vignettes div dessous */
  .thumbnails {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0;
  }

  .thumbnail {
    display: block;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    max-width: 288px;
  }

  /* figures div dessous */
  .pictures {
    height: 114px;
  }

  /*---- Smartphones résultats div droit ----*/
  /* mise en forme de la section */
  .most_famous {
    border-radius: 0;
    padding: 40px 7% 40px 7%;
  }

  /* header div droite */
  .header_pop {
    margin-bottom: 26px;
    padding-left: 0;
    padding-right: 0;
  }

  /* vignettes les plus populaires*/
  .famous_thumbnails {
    display: block;
  }

  .famous_thumbnail {
    width: auto;
    min-width: 280px;
    max-width: 650px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
  }

  /* div de droite de la vignette poupulaire */
  .description {
    width: 55%;
  }
  
  /* nom de l'hôtel div de droite */
  .description h3 {
    margin-top: 1rem;
    padding-left: 1rem;
  }

  /* prix de la nuit div de droite */
  .description p {
    font-size: 0.8rem;
    padding-left: 1rem;
  }

  /*---- Smartphones activités à Marseille ----*/
  /* mise en forme de la section */
  #activities {
    margin: 15px;
  }

  /* titre activités à marseille */
  #activities h2 {
    margin-top: 0;
  }

  /* vignettes section activités */
  .activities_thumbnails {
    display: flex ;
    flex-wrap: wrap;
    grid-gap: 0;
  }

  .activities_thumbnail_1,
  .activities_thumbnail_2,
  .activities_thumbnail_3,
  .activities_thumbnail_4,
  .activities_thumbnail_5,
  .activities_thumbnail_6 {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    min-width: 263px;
    max-width: 300px;
  }

  /*---- Smartphones footer ----*/
  /* mise en forme de la section */
  footer {
    padding: 0 30px 30px 30px;
  }

  .footer_lists {
    flex-wrap: wrap;
  }
  /* mise en forme des listes */
  footer ul {
    margin-right: 40px;
  }
}